@use '../partials/_variables' as *

@use '../partials/_mixins' as *

@use '../partials/_icons' as *

@use '../../node_modules/bootstrap/scss/bootstrap'

.montserrat
  font-family: "Montserrat", sans-serif
  font-optical-sizing: auto
  font-weight: 400
  font-style: normal


body
    font-family: "Montserrat"
    text-transform: uppercase
    

header
    background: linear-gradient(180deg, rgba(50, 48, 55, 0.7) 0%, rgba(50, 48, 55, 0.7)),url('../assets/img/banner.jpg')
    height: 80vh
    background-attachment: fixed

nav
    display: flex
    justify-content: space-between
    align-items: center
    margin-left: 40px
    margin-right: 40px
    height: 8vh
    .logo
        color: white
        height: auto
        p
            display: flex
            align-items: center
            margin:0
            padding:0
            span
                font-weight: bolder
    .menudiv
        width: 20%
        height: auto
        

        .menu
            display: flex
            justify-content: space-between
            align-items: center
            list-style-type: none
            color: white
            margin: 0
            padding: 0
        
.hero
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    gap:25px
    color: white
    height: 72vh
    h1
        font-weight: bolder
        font-size: 45px
    p
        text-align: center
        color: #ffffff85
        font-size: 20px
        width: 70%
    button
        @include btn
        
.sec1
    display: flex
    justify-content: space-around
    align-items: center
    margin-left: 25vw
    margin-right: 25vw
    height: 60vh
    .sec1text
        width: 50%
        h3
            @include h3
        p
            font-size: 21px
            color: #0b000065
    .sec1text2
        width: 50%
        p
            font-size: 13px

.sec2
    height: 120vh
    background-color: $grey
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    .sec2title
        width: 100%
        text-align: center 
        h3
            @include h3
        p
            font-size: 21px
            color: #0b000065
    
    .bigcards
        display: flex
        justify-content: center
        gap: 30px
        margin-left: 13vw
        margin-right: 13vw
        margin-top:10vh
        .card 
            img
                height: 50vh
                width: 100%
            .card-body
                height: 13vh
                display: flex
                justify-content: center
                align-items: center
                font-weight: 600
                font-size: 18px

.divbtn
    display: flex
    justify-content: center
    gap: 15px
    align-items: center
    height: 15vh
    margin-top: 4vh
    .sec2redbtn
        @include btn
    .sec2blackbtn
        background-color: $dark
        border-radius: 5px
        color: white
        border: none
        padding: 15px
        padding-left: 30px
        padding-right: 30px
        font-weight: bolder
     
.sec3
    height: 100vh
    margin-left: 13vw
    margin-right: 13vw
    .sec3title
        margin-top: 10vh
        margin-bottom: 10vh
        display: flex
        flex-direction: column
        align-items: flex-start
        justify-content: center
        h3
            @include h3
        p
            font-size: 21px
            color: #0b000065
    .sec3body1
        img
            margin-right: 30px
            margin-left: 30px
            border-radius: 50%
            border: solid #c8c3c37d 8px
        .sec3row1
            display: flex
            gap: 20px
            .sec3cards
                display: flex
                .cardcontent
                    display: flex
                    flex-direction: column
                    text-align: end
                .txtcard
                    font-size: 12px
            .sec3cards2
                display: flex
                .cardcontent
                    display: flex
                    flex-direction: column
                    align-items: flex-start
                .txtcard
                    font-size: 12px
        .sec3row2
            display: flex
            gap: 20px
            .sec3cards
                display: flex
                gap: 25px
                .cardcontent
                    display: flex
                    flex-direction: column
                    text-align: end
                .txtcard
                    font-size: 12px
            .sec3cards2
                display: flex
                
                .cardcontent
                    display: flex
                    flex-direction: column
                    align-items: flex-start
                .txtcard
                    font-size: 12px
    
            